body {

    font-family: "Tajawal";
    color: #0C0708;
}


.container {
    width: 1344px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding-top: 7px;
    padding-bottom: 7px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-page {
    font-family: "Tajawal";
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #0C0708;
}

.header-register {
    font-family: "Tajawal";
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #0C0708
}

.header-list {
    display: flex;
    gap: 32px;
}

nav {
    margin-left: auto;
    margin-right: 32px;
}

.hero {
    padding-top: 64px;
    padding-bottom: 64px;
}

.hero-container {
    display: flex;
    /* outline: solid green; */
    align-items: center;
    gap: 32px;
}

.hero-box {
    /* outline: solid red; */
}


.hero-title {
    font-family: "Caveat";
    font-weight: 700;
    font-size: 56px;
    line-height: 100%;
    letter-spacing: -0.01em;
    margin-bottom: 24px;
}

.hero-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 32px;

}

.hero-register {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    margin-right: 16px;

}

.hero-more {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;

}

.about {
    padding-top: 112px;
    padding-bottom: 112px;
}

.about-title {

    font-family: "Caveat";
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.01em;
    

}

.about-subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: -0.01em;
    color: var(--color-scheme-1-text);
}

.about-text{
font-weight: 400;
font-size: 16px;
line-height: 150%;

}

.gallery {
    padding-top: 64px;
    padding-bottom: 64px;
}

.shedule {
    padding-top: 64px;
    padding-bottom: 64px;
}

.team {
    padding-top: 64px;
    padding-bottom: 37px;
}

.testimonials {
    padding-top: 64px;
    padding-bottom: 64px;
}

.register {
    padding-top: 112px;
    padding-bottom: 112px;
}

.register-footer {
    padding-top: 80px;
    padding-bottom: 80px;
}