body {
  font-family: "Tajawal";
  color: #0c0708;
}

.container {
  width: 1344px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding-top: 7px;
  padding-bottom: 7px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-page {
  font-family: "Tajawal";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #0c0708;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-page:hover {
  color: #f7941e;

  .header-icon {
    fill: #f7941e;
  }
}

.header-icon {
  width: 16px;
  height: 16px;
  fill: #0c0708;
}

.header-register {
  font-family: "Tajawal";
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #0c0708;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-register:hover {
  color: #f7941e;

  .header-icon {
    fill: #f7941e;
  }
}

.header-list {
  display: flex;
  gap: 32px;
}

nav {
  margin-left: auto;
  margin-right: 32px;
}

.hero {
  padding-top: 64px;
  padding-bottom: 64px;
}

.hero-container {
  display: flex;
  /* outline: solid green; */
  align-items: center;
  gap: 32px;
}

.hero-box {
  /* outline: solid red; */
}

.hero-title {
  font-family: "Caveat";
  font-weight: 700;
  font-size: 56px;
  line-height: 100%;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}

.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 32px;
}

.hero-register {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  margin-right: 16px;
  border: 1px solid #fbb780;
  border-radius: 100px;
  padding: 10px 24px;
  width: 105px;
  height: 44px;
  background-color: #fbb780;
}

.hero-register:hover {
  box-shadow: -9px -4px 91px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -9px -4px 91px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -9px -4px 91px 4px rgba(0, 0, 0, 0.75);
}

.hero-more:hover {
  box-shadow: -9px -4px 91px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -9px -4px 91px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -9px -4px 91px 4px rgba(0, 0, 0, 0.75);
}

.hero-more {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  border: 1px solid rgba(12, 7, 8, 15%);
  border-radius: 100px;
  padding: 10px 24px;
  width: 127px;
  height: 44px;
}

.about {
  padding-top: 112px;
  padding-bottom: 112px;
}

.about-container {
  display: flex;
  gap: 80px;
}

.about-begemot {
  width: 616px;
}

.about-block {
  /* outline: solid red; */
}

.about-title {
  font-family: "Caveat";
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.01em;
  margin-bottom: 32px;
  max-width: 450px;
}

.about-item {
  /* outline: solid rgb(255, 0, 217); */
  display: flex;
  gap: 24px;
  align-items: start;
  margin-bottom: 32px;
}

.about-box {
  /* background-color: pink; */
}

.about-foto {
  flex-shrink: 0;
}

.about-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
  margin-bottom: 16px;
}

.about-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.gallery {
  padding-top: 64px;
  padding-bottom: 64px;
}

.gallery-title {
  text-align: center;
  padding-top: 64px;
  margin-bottom: 24px;
  font-family: "Caveat";
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-scheme-1-text);
}

.gallery-text {
  text-align: center;
  margin-bottom: 80px;
  font-family: "Tajawal";
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: var(--color-scheme-1-text);
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.gallery-item:nth-child(1) {
  flex-basis: calc((100% / 3) - 64px);
}

.gallery-item:nth-child(2) {
  flex-basis: calc((100% / 3) - 64px);
}

.gallery-item:nth-child(3) {
  flex-basis: calc((100% / 3) - 64px);
}

.gallery-item:nth-child(4) {
  flex-basis: calc((100% / 4) - 96px);
}

.gallery-item:nth-child(5) {
  flex-basis: calc((100% / 4) - 96px);
}

.gallery-item:nth-child(6) {
  flex-basis: calc((100% / 4) - 96px);
}

.shedule {
  padding-top: 64px;
  padding-bottom: 64px;
}

.shedule-item {
  display: flex;
  align-items: center;
}

.shedule-title {
  font-family: "Caveat";
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-2-text);
}

.shedule-text {
  font-family: "Tajawal";
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-scheme-2-text);
}

.shedule-subtitle {
  font-family: "Tajawal";
  font-weight: 700;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
}

.shedule-location {
  font-family: "Tajawal";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: var(--color-scheme-1-text);
}

.shedule-time {
  font-family: "Tajawal";
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-neutral-darkest);
}

.shedule-address {
  display: flex;
}

.team {
  padding-top: 64px;
  padding-bottom: 37px;
}

.team-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #0c0708;
  margin-bottom: 24px;
}

.team-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #0c0708;
  margin-bottom: 40px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-item {
  width: 192px;
  text-align: center;
}

.team-name {
  margin-top: 24px;
}

.testimonials {
  padding-top: 64px;
  padding-bottom: 64px;
}

.register {
  padding-top: 112px;
  padding-bottom: 112px;
}

.register-footer {
  padding-top: 80px;
  padding-bottom: 80px;
}

.team-elmnts {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.team-icon {
  width: 15px;
  height: 15px;
  fill: gray;
}

.team-link {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-link:hover {
  background-color: green;
  .team-icon {
    fill: #fff;
  }
}

/* модальне вікно */

.backdrop {
  background-color: #0c070879;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.model {
  width: 528px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.model-butn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  outline: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
}

.model-icon {
  width: 20px;
  height: 20px;
  fill: grey;
}

.model-butn:hover {
  .model-icon {
    fill: #f7941e;
  }
}

.model-title {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.model-label {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  position: relative;
}

.model-input {
  display: block;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;

}

.model-input:hover,
.model-input:focus
{
   outline: 1px solid orange;
}

.model-input:hover + .model-pic,
.model-input:focus + .model-pic{
  fill: orange;
}


.model-coment {
  display: block;
  width: 100%;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  border: none;
  border-radius: 4px;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  margin-top: 4px;
  margin-bottom: 20px;
}



.model-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.model-check {
  width: 16px;
  height: 15px;
}

.model-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 9px;
  margin-right: 4px;
}

.model-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #2196f3;
}

.model-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #f7941e;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.model-pic
{
  width: 18px;
  height: 18px;
  position: absolute;
  top: 28px;
  left: 12px;
  fill: grey;
}


