

.gallery {
  padding-top: 64px;
  padding-bottom: 64px;
}

.gallery-title {
  text-align: center;
  padding-top: 64px;
  margin-bottom: 24px;
  font-family: "Caveat";
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-scheme-1-text);
}

.gallery-text {
  text-align: center;
  margin-bottom: 80px;
  font-family: "Tajawal";
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: var(--color-scheme-1-text);
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.gallery-item {
  position: relative;
  /* overflow: hidden; */
  transition-property: box-shadow;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.gallery-item:hover {
  box-shadow: 5px 5px 10px 10px chartreuse;
  border-radius: 15px;

  .gallery-desk {
    opacity: 1;
  }
}

.gallery-item:nth-child(1) {
  flex-basis: calc((100% / 3) - 64px);
}

.gallery-item:nth-child(2) {
  flex-basis: calc((100% / 3) - 64px);
}

.gallery-item:nth-child(3) {
  flex-basis: calc((100% / 3) - 64px);
}

.gallery-item:nth-child(4) {
  flex-basis: calc((100% / 4) - 96px);
}

.gallery-item:nth-child(5) {
  flex-basis: calc((100% / 4) - 96px);
}

.gallery-item:nth-child(6) {
  flex-basis: calc((100% / 4) - 96px);
}

.gallery-desk {
  font-size: 20px;
  font-weight: 900;
  color: #06f4e8;
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px;
  background-color: #f7951e64;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 30px;
  transition-property: opacity;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}